body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #353041;
    color: #fff;
  }
  button {
    color: #ddd;
    margin: 10px;
    padding: 10px 20px;
    background-color: #292536;
    border: 1px solid #292536;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="submit"] {
    color: #ddd;
    margin: 10px;
    padding: 10px 20px;
    background-color: #292536;
    border: 1px solid #292536;
    border-radius: 5px;
    cursor: pointer;
  }
  form {
    margin: auto;
    text-align: center;
    background-color: #5b5470;
    border-radius: 10px;
    padding: 2px;
    width: 20%;
    margin-bottom: 20px;
  }

  #result {
    display: none; 
    margin: auto;
    text-align: center;
    background-color: #5b5470;
    border-radius: 10px;
    padding: 2px;
    width: 20%;
    margin-top: 20px;
  }

  #result label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  #result span {
    display: block;
    margin-bottom: 5px;
  }