body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

label {
  flex-basis: 30%;
  margin-bottom: 4px;
  text-align: right;
}

input[type="text"] {
  flex-basis: 30%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #a3b03c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#movieInfo {
  margin-top: 20px;
  text-align: center;
}

#movieInfo img {
  display: flex;
  margin-bottom: 10px;
  max-width: 300px;
  margin: 0 auto;
}
